body {
  font-size: 1rem;
  color: #212529;
}

h1 {
  text-align: center;
  font-size: 6rem;
  flex-wrap: wrap;
}


/* FRONT */

header.masthead {
  background: no-repeat center center;
  background-color: #733B2F;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #733B2F;
  opacity: 0.3;
}

header.masthead .site-heading {
  padding: 35% 35% 35% 35%;
  color: #FFB95E;
  font-family: 'Secular One', sans-serif;
}

.overlay-text {
  position: absolute;
  z-index: 200;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.overlay-text:after {
  z-index: 200;
}


@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 5rem;
        overflow-wrap: break-word;
    }



}

a.navbar-brand{
    color: #FFB95E;
    font-family: 'Roboto', sans-serif;
}

a.nav-link {
    color: #FFB95E;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #FFB95E;
}

a:hover {
  color: #733B2F;
}

@media(max-width: 1200px){
    header{
        /*margin: 20px;*/
      overflow: auto;
    }
}

.container-fluid{
    height: 100vh;
}

section {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #0D0000;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #733B2F;
  bottom: 0;
  left: calc(50% - 20px);
}


.section-title p {
  margin-bottom: 0;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

#addcafe {
    box-shadow: inset 0 0 0 2000px RGBA(41,0,0,0.80);
    color: #FFB95E;
    font-family: 'Roboto', sans-serif;
}

.errors {
    color:red;
}

