{% extends "base.html" %}

{% block title %}Cafe and Wifi{% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top opacity-100" id="mainNav" , style="background-color: #733B2F;">
    <div class="container">
        <a class="navbar-brand" href="index.html">CAFE AND WIFI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="">Home</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="#coffee-shops">Cafe List</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{{ url_for('add_cafe') }}">Add
                    Cafe</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead" style="background-image: url(../static/images/wallpaper2.jpg)">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <div class="overlay-text"><h1>CAFE AND WIFI</h1></div>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="coffee-shops" class="coffee-shops" style="box-shadow: inset 0 0 0 2000px RGBA(89,34,14,0.44);">
    <div class="section-title">
        <h2>Coffee Shops</h2>
    </div>
    <div class="bg">
        <div class="container">
            <div class="row">
                {% for cafe in cafes %}
                <div class="col-lg-4 col-sm-6">
                    <div class="card bg-light mb-3">
                        <img class="card-img-top img-thumbnail" src="{{ cafe.img_url }}" alt="Card image cap" ,
                             style="height:270px">
                        <div class="card-body">
                            <h5 class="card-title">{{ cafe.name }}</h5>
                            <p class="card-text">{{ cafe.location }} | {{ cafe.coffee_price }} | {{ cafe.seats }} |
                                {% if cafe.has_toilet == True %}
                                🚻 |
                                {% endif %}
                                {% if cafe.has_wifi == True %}
                                <i class="fa-solid fa-wifi"></i> |
                                {% endif %}
                                {% if cafe.has_sockets == True %}
                                🔌 |
                                {% endif %}
                                {% if cafe.can_take_calls == True %}
                                📱 |
                                {% endif %}


                            </p>
                            <a href="{{ url_for('delete', name=cafe.name) }}" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}